.dapp-topbar {
  width: 100%;
  margin: 0px 16px 0px 16px;

  .dapp-topbar-slider-btn{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 16px;
  }

  .dapp-topbar-btns-wrap{
    display: flex;
    align-items: center;
    margin-left: auto;
  }


  .branding-header {
    display: flex;
    flex-direction: row;
    align-items: end;
    text-decoration: none;
    // margin: 20px 0 63px 0;
    
    img {
      height: 50px;
    }

    .logo-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      p{
        font-family: Montserrat SemiBold;
        font-size: 16px;
        color: #0A0F1D;
        margin-left: 8px;
      }

      .wallet-link {
        margin: 10px;
    
        p{
          font-family: Montserrat SemiBold;
          font-size: 10px;
          color: #0A0F1D;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .dapp-topbar{
    .dapp-topbar-slider-btn{
      display: none;
    }
  }
}